# These are explicitly windows files and should use crlf
*.bat           text eol=crlf

# To prevent GitHub calling us a shell/batch project
/enigma.bat     linguist-vendored
/enigma         linguist-vendored
